# Google Cloud
.gcloudignore

# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
